<html>
<body>
    <a asp-controller="Notification" asp-action="Index">Passport Notification</a>
    <div></div><div></div>
    <a asp-controller="notification" asp-action="eida">Eida Notification</a>
    <div></div><div></div>
    <a asp-controller="notification" asp-action="medical">Medical Notification</a>
    <div></div><div></div>
    <a asp-controller="notification" asp-action="salary">Salary Notification</a>
    <div></div><div></div>

    <a asp-controller="mainhome" asp-action="newindex">Index</a>
</body>
</html> <style> body {
            background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
            background-size: cover;
            font-family: Montserrat;
        }</style>